.background-color{
    background-color: #87CEFA;
}

.navbar-extension{
    border: 0.30vh solid black;
}

.card-extension{
    margin-top: 25%;
    margin-left: 10%;
    width: 75vh;
    border: 0.30vh solid black;
    box-shadow: 1vh 1vh;
}

.card-header-extension{
    text-align: center;
    font-weight: bolder;
}

input[type="email"], input[type="password"], input[type="checkbox"], input[type="text"] { 
    border: 0.30vh solid black;
}

button[type="submit"] {
    border: 0.30vh solid black;
    background-color:#87CEFA;
    color: black;
    font-weight: bold;
}
button[type="submit"]:hover {
    border: 0.30vh solid black;
    background-color: whitesmoke;
    color: #87CEEB;
    font-weight: bold;
}

label[for="name"], label[for="email"], label[for="password"], label[for="password-confirm"]{
    font-weight: bolder;
}