body{
    position: relative;
    overflow: hidden
}

.background-color{
    background-color: #87CEFA;
}

.navbar-extension{
    border-bottom: 0.5vh solid black;
}

.card-extension{
    margin-top: 25%;
    margin-left: 10%;
    width: 75vh;
    border: 0.30vh solid black;
    box-shadow: 1vh 1vh;
}

.card-extension2{
    margin-top: 12%;
    margin-left: 10%;
    width: 75vh;
    border: 0.30vh solid black;
    box-shadow: 1vh 1vh;
}

.card-extension3{
    margin-top: 2vh;
    margin-left: 4vh;
    width: 12vh;
    height: 12vh;
    border: 0.30vh solid black;
    box-shadow: 0.33vh 0.33vh;
    transition: 0.3s;
}

.card-extension3:hover{
    border: 0.6vh solid black;
}

.card-selected{
    border: 0.6vh solid black;
}

.card-header-extension{
    text-align: center;
    font-weight: bolder;
    border-bottom: 0.30vh solid black;
    background-color: #a8d9f7;
}

.card-header-extension2{
    margin-left: -1.3vh;
    margin-right: -1.3vh;
    text-align: center;
    font-weight: bolder;
    border-bottom: 0.30vh solid black;
    background-color: #a8d9f7;
}

.card-body-extension{
    margin-top: 25%;
    margin-left: 10%;
    width: 75vh;
    border: 0.30vh solid black;
    box-shadow: 1vh 1vh;
}

input[type="email"], input[type="password"], input[type="checkbox"], input[type="text"] { 
    border: 0.30vh solid black;
}

button[type="submit"] {
    border: 0.30vh solid black;
    background-color:#87CEFA;
    color: black;
    font-weight: bold;
}

button[type="submit"]:hover {
    border: 0.30vh solid black;
    background-color: whitesmoke;
    color: #87CEEB;
    font-weight: bold;
}

#bar {
    width: 0%;
    height: 30px;
    background-color: #4eb8fa;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px;
    margin: 3px;
    margin-right: 7px;
    overflow: hidden;
}

#bar-buddy {
    width: 8%;
    margin-bottom: 50px;
    position: absolute;
    top: -20;
    left: -20;
}

.bar-buddy-box{
    position: relative;
}

label[for="name"], label[for="email"], label[for="password"], label[for="password-confirm"]{
    font-weight: bolder;
}

#type-text{
    text-align: center;
}

div[id="cloud1"] {
    position: absolute;
    animation-name: moving-cloud;
    animation-duration: 21s;
    animation-iteration-count: infinite;
    top: 22vh;
    z-index: -100;
}

@keyframes moving-cloud {
    0%{left: 0vh; opacity: 0;}
    50%{left: 41.5vh; opacity: 1;}
    100%{left: 83vh; opacity: 0;}
}

div[id="cloud2"] {
    position: absolute;
    animation-name: moving-cloud2;
    animation-duration: 17s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    top: -1.5vh;
    z-index: -100;
}

@keyframes moving-cloud2 {
    0%{right: 21vh; opacity: 0;}
    50%{right: 84.5vh; opacity: 1;}
    100%{right: 148vh; opacity: 0;}
}

div[id="cloud3"] {
    position: absolute;
    animation-name: moving-cloud3;
    animation-duration: 15s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    top: 45vh;
    z-index: -100;
}

@keyframes moving-cloud3 {
    0%{left: 64vh; opacity: 0;}
    50%{left: 92vh; opacity: 1;}
    100%{left: 120vh; opacity: 0;}
}

div[id="cloud4"] {
    position: absolute;
    animation-name: moving-cloud4;
    animation-duration: 19.5s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    top: 62vh;
    z-index: -101;
}

@keyframes moving-cloud4 {
    0%{right: 12vh; opacity: 0;}
    25%{right: 12vh; opacity: 0;}
    50%{right: 77vh; opacity: 1;}
    100%{right: 142vh; opacity: 0;}
}

div[id="cloud5"] {
    position: absolute;
    animation-name: moving-cloud5;
    animation-duration: 14.2s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    top: 72vh;
    z-index: -102;
}

@keyframes moving-cloud5 {
    0%{left: 3vh; opacity: 0;}
    50%{left: 32.5vh; opacity: 1;}
    100%{left: 62vh; opacity: 0;}
}

div[id="cloud6"] {
    position: absolute;
    animation-name: moving-cloud6;
    animation-duration: 22s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    top: 83vh;
    z-index: -101;
}

@keyframes moving-cloud6 {
    0%{right: 3vh; opacity: 0;}
    50%{right: 42.5vh; opacity: 1;}
    100%{right: 72vh; opacity: 0;}
}

div[id="cloud7"] {
    position: absolute;
    animation-name: moving-cloud7;
    animation-duration: 23s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    top: 42vh;
    z-index: -102;
}

@keyframes moving-cloud7 {
    0%{right: 3vh; opacity: 0;}
    35%{right: 3vh; opacity: 0;}
    66%{right: 51.5vh; opacity: 1;}
    100%{right: 100vh; opacity: 0;}
}

div[id="cloud8"] {
    position: absolute;
    animation-name: moving-cloud8;
    animation-duration: 16s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    top: 15vh;
    z-index: -102;
}

@keyframes moving-cloud8 {
    0%{right: 24vh; opacity: 0;}
    35%{right: 24vh; opacity: 0;}
    66%{right: 42.5vh; opacity: 1;}
    100%{right: 61vh; opacity: 0;}
}

.link-text-main:link, .link-text-main:visited {
    color: #78c7f9;
    font-weight: bold;
    text-shadow: 0.2vh 0vh black, -0.2vh 0vh black, 0vh 0.2vh black, 0vh -0.2vh black, 0.2vh 0.2vh black, -0.2vh -0.2vh black;
    font-size: 3vh;
    text-decoration: none;
    transition: ease-in 0.2s;
}
  
.link-text-main:hover, .link-text-main:active {
    color: #fafafa;
    text-shadow: 0.22vh 0vh #4eb8fa, -0.22vh 0vh #4eb8fa, 0vh 0.22vh #4eb8fa, 0vh -0.22vh #4eb8fa, 0.22vh 0.22vh #4eb8fa, -0.22vh -0.22vh #4eb8fa;
    font-size: 3.1vh;
    transition: ease-in 0.2s;
}

.link-text:link, .link-text:visited {
    color: #78c7f9;
    font-weight: bold;
    text-shadow: 0.15vh 0vh black, -0.15vh 0vh black, 0vh 0.15vh black, 0vh -0.15vh black, 0.15vh 0.15vh black, -0.15vh -0.15vh black;
    font-size: 2vh;
    text-decoration: none;
    transition: ease-in 0.2s;
}
  
.link-text:hover, .link-text:active {
    color: #fafafa;
    text-shadow: 0.151vh 0vh #4eb8fa, -0.151vh 0vh #4eb8fa, 0vh 0.151vh #4eb8fa, 0vh -0.151vh #4eb8fa, 0.151vh 0.151vh #4eb8fa, -0.151vh -0.151vh #4eb8fa;
    font-size: 2.1vh;
    transition: ease-in 0.2s;
}

img[for="barbuddy"] {
    width: 100%;
    height: 100%;
}